<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ASL_001</key>
    <string>A_S_L__001.glif</string>
    <key>ASL_002</key>
    <string>A_S_L__002.glif</string>
    <key>ASL_003</key>
    <string>A_S_L__003.glif</string>
    <key>ASL_004</key>
    <string>A_S_L__004.glif</string>
    <key>ASL_005</key>
    <string>A_S_L__005.glif</string>
    <key>ASL_006</key>
    <string>A_S_L__006.glif</string>
    <key>ASL_007</key>
    <string>A_S_L__007.glif</string>
    <key>ASL_008</key>
    <string>A_S_L__008.glif</string>
    <key>ASL_009</key>
    <string>A_S_L__009.glif</string>
    <key>ASL_010</key>
    <string>A_S_L__010.glif</string>
    <key>ASL_011</key>
    <string>A_S_L__011.glif</string>
    <key>ASL_012</key>
    <string>A_S_L__012.glif</string>
    <key>ASL_013</key>
    <string>A_S_L__013.glif</string>
    <key>ASL_014</key>
    <string>A_S_L__014.glif</string>
    <key>ASL_015</key>
    <string>A_S_L__015.glif</string>
    <key>ASL_016</key>
    <string>A_S_L__016.glif</string>
    <key>ASL_017</key>
    <string>A_S_L__017.glif</string>
    <key>ASL_018</key>
    <string>A_S_L__018.glif</string>
    <key>ASL_019</key>
    <string>A_S_L__019.glif</string>
    <key>ASL_020</key>
    <string>A_S_L__020.glif</string>
    <key>ASL_021</key>
    <string>A_S_L__021.glif</string>
    <key>ASL_022</key>
    <string>A_S_L__022.glif</string>
    <key>ASL_023</key>
    <string>A_S_L__023.glif</string>
    <key>ASL_024</key>
    <string>A_S_L__024.glif</string>
    <key>ASL_025</key>
    <string>A_S_L__025.glif</string>
    <key>ASL_026</key>
    <string>A_S_L__026.glif</string>
    <key>ASL_027</key>
    <string>A_S_L__027.glif</string>
    <key>ASL_028</key>
    <string>A_S_L__028.glif</string>
    <key>ASL_029</key>
    <string>A_S_L__029.glif</string>
    <key>ASL_030</key>
    <string>A_S_L__030.glif</string>
    <key>ASL_031</key>
    <string>A_S_L__031.glif</string>
    <key>ASL_032</key>
    <string>A_S_L__032.glif</string>
    <key>ASL_033</key>
    <string>A_S_L__033.glif</string>
    <key>ASL_034</key>
    <string>A_S_L__034.glif</string>
    <key>ASL_035</key>
    <string>A_S_L__035.glif</string>
    <key>ASL_036</key>
    <string>A_S_L__036.glif</string>
    <key>ASL_037</key>
    <string>A_S_L__037.glif</string>
    <key>ASL_038</key>
    <string>A_S_L__038.glif</string>
    <key>ASL_039</key>
    <string>A_S_L__039.glif</string>
    <key>ASL_040</key>
    <string>A_S_L__040.glif</string>
    <key>ASL_041</key>
    <string>A_S_L__041.glif</string>
    <key>ASL_042</key>
    <string>A_S_L__042.glif</string>
    <key>ASL_043</key>
    <string>A_S_L__043.glif</string>
    <key>ASL_044</key>
    <string>A_S_L__044.glif</string>
    <key>ASL_045</key>
    <string>A_S_L__045.glif</string>
    <key>ASL_046</key>
    <string>A_S_L__046.glif</string>
    <key>ASL_047</key>
    <string>A_S_L__047.glif</string>
    <key>ASL_048</key>
    <string>A_S_L__048.glif</string>
    <key>ASL_049</key>
    <string>A_S_L__049.glif</string>
    <key>ASL_050</key>
    <string>A_S_L__050.glif</string>
    <key>ASL_051</key>
    <string>A_S_L__051.glif</string>
    <key>ASL_052</key>
    <string>A_S_L__052.glif</string>
    <key>ASL_053</key>
    <string>A_S_L__053.glif</string>
    <key>ASL_054</key>
    <string>A_S_L__054.glif</string>
    <key>ASL_055</key>
    <string>A_S_L__055.glif</string>
    <key>ASL_056</key>
    <string>A_S_L__056.glif</string>
    <key>ASL_057</key>
    <string>A_S_L__057.glif</string>
    <key>ASL_058</key>
    <string>A_S_L__058.glif</string>
    <key>ASL_059</key>
    <string>A_S_L__059.glif</string>
    <key>ASL_060</key>
    <string>A_S_L__060.glif</string>
    <key>_part.index</key>
    <string>_part.index.glif</string>
    <key>_part.palm</key>
    <string>_part.palm.glif</string>
    <key>_part.thumb</key>
    <string>_part.thumb.glif</string>
  </dict>
</plist>
