<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>ASL_001</string>
		<string>ASL_002</string>
		<string>ASL_003</string>
		<string>ASL_004</string>
		<string>ASL_005</string>
		<string>ASL_006</string>
		<string>ASL_007</string>
		<string>ASL_008</string>
		<string>ASL_009</string>
		<string>ASL_010</string>
		<string>ASL_011</string>
		<string>ASL_012</string>
		<string>ASL_013</string>
		<string>ASL_014</string>
		<string>ASL_015</string>
		<string>ASL_016</string>
		<string>ASL_017</string>
		<string>ASL_018</string>
		<string>ASL_019</string>
		<string>ASL_020</string>
		<string>ASL_021</string>
		<string>ASL_022</string>
		<string>ASL_023</string>
		<string>ASL_024</string>
		<string>ASL_025</string>
		<string>ASL_026</string>
		<string>ASL_027</string>
		<string>ASL_028</string>
		<string>ASL_041</string>
		<string>ASL_042</string>
		<string>ASL_043</string>
		<string>ASL_044</string>
		<string>ASL_045</string>
		<string>ASL_046</string>
		<string>ASL_047</string>
		<string>ASL_048</string>
		<string>ASL_049</string>
		<string>ASL_050</string>
		<string>ASL_051</string>
		<string>ASL_052</string>
		<string>ASL_053</string>
		<string>ASL_054</string>
		<string>ASL_055</string>
		<string>ASL_056</string>
		<string>ASL_057</string>
		<string>ASL_058</string>
		<string>ASL_059</string>
		<string>ASL_060</string>
		<string>_part.index</string>
		<string>_part.palm</string>
		<string>_part.thumb</string>
	</array>
</dict>
</plist>
