<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.sarwardecoder.arabicHexAllocations</key>
	<dict>
		<key>ASL_001</key>
		<string>0621</string>
		<key>ASL_002</key>
		<string>0622</string>
		<key>ASL_003</key>
		<string>0623</string>
		<key>ASL_004</key>
		<string>0624</string>
		<key>ASL_005</key>
		<string>0625</string>
		<key>ASL_006</key>
		<string>0626</string>
		<key>ASL_007</key>
		<string>0627</string>
		<key>ASL_008</key>
		<string>0628</string>
		<key>ASL_009</key>
		<string>0629</string>
		<key>ASL_010</key>
		<string>062A</string>
		<key>ASL_011</key>
		<string>062B</string>
		<key>ASL_012</key>
		<string>062C</string>
		<key>ASL_013</key>
		<string>062D</string>
		<key>ASL_014</key>
		<string>062E</string>
		<key>ASL_015</key>
		<string>062F</string>
		<key>ASL_016</key>
		<string>0630</string>
		<key>ASL_017</key>
		<string>0631</string>
		<key>ASL_018</key>
		<string>0632</string>
		<key>ASL_019</key>
		<string>0633</string>
		<key>ASL_020</key>
		<string>0634</string>
		<key>ASL_021</key>
		<string>0635</string>
		<key>ASL_022</key>
		<string>0636</string>
		<key>ASL_023</key>
		<string>0637</string>
		<key>ASL_024</key>
		<string>0638</string>
		<key>ASL_025</key>
		<string>0639</string>
		<key>ASL_026</key>
		<string>063A</string>
		<key>ASL_027</key>
		<string>063B</string>
		<key>ASL_028</key>
		<string>063C</string>
		<key>ASL_029</key>
		<string>063D</string>
		<key>ASL_030</key>
		<string>063E</string>
		<key>ASL_031</key>
		<string>063F</string>
		<key>ASL_032</key>
		<string>0640</string>
		<key>ASL_033</key>
		<string>0641</string>
		<key>ASL_034</key>
		<string>0642</string>
		<key>ASL_035</key>
		<string>0643</string>
		<key>ASL_036</key>
		<string>0644</string>
		<key>ASL_037</key>
		<string>0645</string>
		<key>ASL_038</key>
		<string>0646</string>
		<key>ASL_039</key>
		<string>0647</string>
		<key>ASL_040</key>
		<string>0648</string>
		<key>ASL_041</key>
		<string>0649</string>
		<key>ASL_042</key>
		<string>064A</string>
		<key>ASL_043</key>
		<string>064B</string>
		<key>ASL_044</key>
		<string>064C</string>
		<key>ASL_045</key>
		<string>064D</string>
		<key>ASL_046</key>
		<string>064E</string>
		<key>ASL_047</key>
		<string>064F</string>
		<key>ASL_048</key>
		<string>0650</string>
		<key>ASL_049</key>
		<string>0651</string>
		<key>ASL_050</key>
		<string>0652</string>
		<key>ASL_051</key>
		<string>0653</string>
		<key>ASL_052</key>
		<string>0654</string>
		<key>ASL_053</key>
		<string>0655</string>
		<key>ASL_054</key>
		<string>0656</string>
		<key>ASL_055</key>
		<string>0657</string>
		<key>ASL_056</key>
		<string>0658</string>
		<key>ASL_057</key>
		<string>0659</string>
		<key>ASL_058</key>
		<string>065A</string>
		<key>ASL_059</key>
		<string>065B</string>
		<key>ASL_060</key>
		<string>065C</string>
	</dict>
	<key>public.glyphOrder</key>
	<array>
		<string>ASL_001</string>
		<string>ASL_002</string>
		<string>ASL_003</string>
		<string>ASL_004</string>
		<string>ASL_005</string>
		<string>ASL_006</string>
		<string>ASL_007</string>
		<string>ASL_008</string>
		<string>ASL_009</string>
		<string>ASL_010</string>
		<string>ASL_011</string>
		<string>ASL_012</string>
		<string>ASL_013</string>
		<string>ASL_014</string>
		<string>ASL_015</string>
		<string>ASL_016</string>
		<string>ASL_017</string>
		<string>ASL_018</string>
		<string>ASL_019</string>
		<string>ASL_020</string>
		<string>ASL_021</string>
		<string>ASL_022</string>
		<string>ASL_023</string>
		<string>ASL_024</string>
		<string>ASL_025</string>
		<string>ASL_026</string>
		<string>ASL_027</string>
		<string>ASL_028</string>
		<string>ASL_029</string>
		<string>ASL_030</string>
		<string>ASL_031</string>
		<string>ASL_032</string>
		<string>ASL_033</string>
		<string>ASL_034</string>
		<string>ASL_035</string>
		<string>ASL_036</string>
		<string>ASL_037</string>
		<string>ASL_038</string>
		<string>ASL_039</string>
		<string>ASL_040</string>
		<string>ASL_041</string>
		<string>ASL_042</string>
		<string>ASL_043</string>
		<string>ASL_044</string>
		<string>ASL_045</string>
		<string>ASL_046</string>
		<string>ASL_047</string>
		<string>ASL_048</string>
		<string>ASL_049</string>
		<string>ASL_050</string>
		<string>ASL_051</string>
		<string>ASL_052</string>
		<string>ASL_053</string>
		<string>ASL_054</string>
		<string>ASL_055</string>
		<string>ASL_056</string>
		<string>ASL_057</string>
		<string>ASL_058</string>
		<string>ASL_059</string>
		<string>ASL_060</string>
	</array>
	<key>public.skipExportGlyphs</key>
	<array>
		<string>_part.index</string>
		<string>_part.palm</string>
		<string>_part.thumb</string>
	</array>
</dict>
</plist>
